<div class="box-head">
    <h2 class="breadcrumb">
        <div><a href="/projects">Projects</a></div>
        <div><%= project %></div>
        <div><small>Sources</small></div>
    </h2>
    <search-field></search-field>
</div>
<div class="box box-scroll-fade-bottom">
    <div class="list grid-2-col">
        <div class="list-head">
            <div>Source</div>
            <div class="center">Stats</div>
        </div>
        <div class="list-body" data-search-list>
            <% for (const { src, stats } of srcs) { %>
                <div class="list-row" data-search-key="<%=
                    src.replace(/[^a-z\d ._\/-]+/ig, ' ').toLowerCase()
                %>">
                    <div>
                        <% if (stats?.sum) { %>
                            <a href="/project/<%= key %>/-/<%= src %>"><%= src %></a>
                        <% } else { %>
                                <%= src %>
                        <% } %>
                    </div>
                    <div class="center">
                        <% if (stats?.sum) { %>
                            <a href="/project/<%= key %>/-/<%= src %>">
                                <span class="color-<%= stats.passed === stats.sum ? 'green' : 'red' %>"><%= stats.passed %></span>
                                <span>/ <%= stats.sum %></span>
                            </a>
                        <% } else { %>
                            <span class="color-red">None</span>
                        <% } %>
                    </div>
                </div>
            <% } %>
                <%- include('search/no-results') %>
        </div>
    </div>
</div>